[submodule "MachineLearning&DataMining/Labs/lab3/images_binary_classification"]
	path = MachineLearning&DataMining/Labs/lab3/images_binary_classification
	url = https://github.com/abecedarian007/images_binary_classification
